
*{
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
.main{
  width:100%;
  height:50vh;
  position:relative;
  display: flex;
  background-size: cover;
  background-position: center;
}
#ful
{
  width: 100%;
  height:100vh;
  background-image: 
  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(Home.jpg);
  background-size:cover;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color:black;
  box-shadow: 5px 10px 30x rgba(0, 0, 0, 0.02);
}
.logo{
  margin: 5px;
  height: 65px;
}
.menu{
  list-style: none;
  display:flex;
}
.menu li a{
  height:40px ;
  line-height:33px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size:1em;
  text-transform:uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  list-style: none;
  color: white;
}
a{
  text-decoration: none;
}
.Content{
  display: flex;
  width: 70%;
  justify-content:space round;
  align-items:center;
  position:relative;
  left: 55%;
  transform: translate(-50%,-50%);
}
.main-text h1 {
  font-size: 2.3em;
 color: whitesmoke;
 margin: 5px 0px 15px 0px;
 line-height: 50%;
 text-align: center;
}
.main-text h2 {
  color:rgb(228, 224, 224);
  text-align: center;
}
.Donate-btn{
  width:190px;
  height:44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  background-color:rgb(240, 177, 17);
  border-radius:20px;
  box-shadow: 5px 10px 30px rgba(24 ,139,119,0.2);
  position: absolute;
  top: 150%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 35%;
}
.Donate-btn:hover{
  background-color:rgba(233, 154, 51, 0.904);
  box-shadow: 5px 10px 30px rgba(24 ,139,119,0.2);
}
.menu li a:hover{
  background-color:goldenrod;
  color: white;
  box-shadow: 5px 10px 30px rgba(132, 223, 207, 0.2);
}
.Con{
  display: flex;
  width: 70%;
  justify-content:space round;
  
  position:relative;
  left: 50%;
  transform: translate(-50%,-50%);
}
#ful1{
  width: 100%;
  height:100vh;
  background-image: 
  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(About.jpg);
  background-size:cover;
}
#ful2{
  width: 100%;
  height:100vh;
  background-image: 
  linear-gradient(rgba(206, 50, 50, 0.459), rgba(207, 132, 132, 0.493)),url(Mission.jpg);
  background-size:cover;
}
#ful3{
  width: 100%;
  height:100vh;
  background-image: 
  linear-gradient(rgba(206, 50, 50, 0.459), rgba(240, 89, 89, 0.377)),url(Contact.jpg);
  background-size:cover;
}
.contact-section{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info{
  color: #fff;
  max-width: 500px;
  line-height: 85px;
  padding-left: 30px;
  font-size: 18px;
}

.contact-info i{
  margin-right: 30px;
  font-size: 25px;
}

.contact-form{
  max-width: 600px;
  margin-right:30px;
}

.contact-info, .contact-form{
  flex: 1;
}

.contact-form h2{
  color: #fff;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box{
  background: #000;
  color: #fff;
  border: none;
  height: 30px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .text-box:first-child{
  margin-right: 15px;
}

.contact-form textarea{
  background: #000;
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-btn{
  float: right;
  background:rgb(146, 65, 127);
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form .send-btn:hover{
  border-radius:20px;
  box-shadow: 5px 10px 30px rgba(24 ,139,119,0.2);
  background-color:#ec05c6
}

